html {
font-family: 'Raleway', sans-serif;
}

body {
margin: 0px;
}

a {
color: inherit;
text-decoration: none;
}

ul {
list-style: none;
display: inline-flex;
padding: 0;
margin: 0;
}

/*--------------- Header -----------------------*/

.head {
grid-template-columns: auto 1fr auto auto;
grid-template-areas: "logo . navbar button";
display: grid;
max-width: 1440px;
margin: auto;
}

.head img  {
    grid-area: logo;
    height: 2.813rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.head nav {
    grid-area: navbar;
}

.head ul {
    margin: 1.2rem 0;
    width: 100%;
    text-align: center;
}

.head li {
    padding: 0 1.2rem;
}


.head nav a {
    padding: 1rem 0;
    font-weight: 400;
    text-align: center;
    transition-duration: 0.1s;
    border-bottom: 3px transparent solid;
}

.head nav a[data-active="true"] {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.head nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

#headsignup {
    grid-area: button;
}

#headsignup a {
    color: #0065FC;
    font-weight: 550;
}

/*------------------ Main -------------------------*/


.Dot {
max-width: 1440px;
margin: auto;
padding: 0 2rem;
box-sizing: border-box;
}

/*-------------- Main-Search ---------------------*/

.searching header p {
    margin-top: 0;
}

.searching h1 {
    margin-bottom: 0.2em;
}

.searching form {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.searchicon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.searching form input {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    width: 14rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: "Raleway","Sans serif";
}

.searching form button {
    background-color: #0065FC;
    color: white;
    font-weight: normal;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.searchPart {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.searchPart h2 {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.searchPart div {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    padding-right: 1rem;
}

.searchPart div:hover {
    background-color: #f2f7ff;
}

.searchPart i {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    margin-right: 1rem;
}

.Result {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.Resulticon {
    color: #0065FC;
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
/*--------------- Host main ------------------------*/

    .Hostingdiv {

        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }

        .Hostingdiv header {
            grid-column: 1/-1;
        }

        .Hostingdiv h2 {
            margin: 0;
        }

        .Hostingdiv article,
        .hostmorePopular article {
            background-color: white;
            padding: 0.375rem;
            border-radius: 1.25rem;
            box-shadow: 0 0 16px #0000002e;
            transition-duration: 0.1s;
            cursor: pointer;
            box-sizing: border-box;
            height: 100%;
        }

        .Hostingdiv figure {
            margin: 0;
        }

        .Hostingdiv img {
            height: 7rem;
            object-fit: cover;
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            border-radius: 1rem 1rem 0 0;
        }

        .Hostingdiv h3,
        .hostingPopular h3 {
            margin: 0.25rem 0.75rem 0 0.75rem;
        }

        .hostmorePopular h3 {
            margin: 0.25rem 0.75rem 0 0.75rem;
        }







        .Hostingdiv p,
        .hostmorePopular p {
            margin: 0.25rem 0.75rem 0.25rem 0.75rem;
        }

        .Hostingdiv ul,
        .hostmorePopular ul {
            margin: 0 0.75rem 0.25rem 0.75rem;
        }

        .fas[data-active="true"] {
            color: #0065FC;

        }

        .fas[data-active="false"] {
            color: #d9d9d9;
        }

        .hostingthere {
            font-weight: bold;
        }

    .hostmorePopular {
    padding: 2rem;
    row-gap: 2rem;
    display: grid;
    align-items: start;
    grid-template-rows: auto repeat(3,1fr);
}

        .hostmorePopular h2 {
        margin: 0;
        display: flex;
        justify-content: space-between;
        }

        .hostmorePopular a {
            display: flex;
            align-items: stretch;
            height: 100%;
            overflow: auto;
        }

        .hostmorePopular figure {
            margin: 0;
            position: relative;
            min-height: 100%;
            width: 33%;
            min-width: 33%;
            max-width: 33%;
        }

        .hostmorePopular img {
            border-radius: 1rem 0 0 1rem;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .host_it {
            display: flex;
            flex-direction: column;
        }
        
        .host_plus {
            flex: 1;
        }

    .Hostingdiv, 
    .hostmorePopular {
        background-color: #F2F2F2;
        border-radius: 1.5rem;
        padding: 2rem;
    }

/*----------------- Activity -------------------*/

.activity {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    column-gap: 2rem;
    margin: 4rem 0;
}

    .activity h2 {
        grid-column: 1 / -1;
    }

    .activity a {
        box-shadow: 0 0 20px #0000002e;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition-duration: 0.1s;
    }

    .activity h3 {
        margin: 1.2rem 1.5rem;
    }

    .activityWrapimg {
        position: relative;
        flex: 1;
    }

    .activity img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #one {
        grid-row: 2/7;
        grid-column: 1/2;
    }

    #two {
        grid-column: 2/3;
        grid-row: 2/5;
    }

    #three {
        grid-column: 3/4;
        grid-row: 2/7;
    }

    #four {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    #five {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    #six {
        grid-column: 4/5;
        grid-row: 4/7;
    }

/*--------------- Footer ------------------------*/


.footer {
background-color: #F2F2F2;
width: 100%;
}

.footerHead {
display: flex;
max-width: 100%;
width: 1440px;
margin: auto;
padding: 0 2rem;
box-sizing: border-box; 
}

.footerCup {
padding: 2rem 2rem;
}

.footer ul {
display: block;
}

.footer ul li {
margin: 1rem 0;
}

@media screen and (min-width: 1101px) {

.hosting {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
} 

}



/*-----------Mobile-----------------------------------------------------------------------*/

@media screen and (max-width: 650px){


    .head {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "logo . button"
            "navbar navbar navbar";
        position: relative;
    }

    #headsignup
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        width: auto;
        border-bottom: none;
    }

    #headsignup a {
        border-bottom: none;
    }

        .head li {
            width: 50%;
            padding: 0;
        }

        .head nav a {
            display: inline-block;
            border-bottom: 3px #f2f2f2 solid;
            width: 100%;
        }

        .head nav a[data-active=true] {
            border-bottom: 3px #0065FC solid;
            border-top: none;
        }

        .head nav a:hover {
            border-top: none;
        }

    .searchFormButton {
        display: none;
    }

    .Hostingdiv,
    .activity {
        grid-template-columns: 1fr;
    }

    .activity {
        grid-template-rows: auto repeat(6, 20rem);
        row-gap: 2rem;
    }

        .activity h2 {
            grid-row: 1;
            grid-column: 1/-1;
        }

        #one {
            grid-row: 2;
            grid-column: 1/-1;
        }

        #two {
            grid-row: 3;
            grid-column: 1/-1;
        }

        #three {
            grid-row: 4;
            grid-column: 1/-1;
        }

        #four {
            grid-row: 5;
            grid-column: 1/-1;
        }

        #five {
            grid-row: 6;
            grid-column: 1/-1;
        }

        #six {
            grid-row: 7;
            grid-column: 1/-1;
        }

    .footerHead {
        flex-direction: column;
    }
}


@media screen and (min-width: 650px) and (max-width:1100px)
{

    
    .Hostingdiv,
    .activity {
        grid-template-columns: 1fr 1fr;
    }

    .activity {
        grid-template-rows: auto 12rem 12rem 12rem;
        row-gap: 2rem;
    }

        .activity h2 {
            grid-column: 1/-1;
        }

        #one {
            grid-row: 2;
            grid-column: 1;
        }

        #two {
            grid-row: 2;
            grid-column: 2;
        }

        #three {
            grid-row: 3;
            grid-column: 1;
        }

        #four {
            grid-row: 3;
            grid-column: 2;
        }

        #five {
            grid-row: 4;
            grid-column: 1;
        }

        #six {
            grid-row: 4;
            grid-column: 2;
        }
}

@media screen and (max-width: 1100px) {

    .dot {
        padding: 0;
    }

    .search {
        padding: 0 1rem;
    }

    .header img{
        margin-left: 1rem;
    }

    .hosting {
        display: grid;
        row-gap: 2rem;
        grid-template-rows: auto auto;
    }







        .Hostingdiv {
            background: none;
        }

        .Hostingdiv img {
            height: 14rem;
        }







        .hostingPopular {
            grid-row: 1/2;
            border-radius: 0;
            grid-template-rows: auto repeat(3, 12rem);
            grid-template-columns: 1fr;
        }

    .activity {
        padding: 2rem;
    }
}

@media screen and (min-width: 650px) {
   
    .fa-search {
        display: none;
    }
}

